body {
  background-image: url("Soul.png");
  background-repeat: no-repeat;
  font-family: Helvetica;
  width: 620px;
  text-align: center;
  color: #197bd2;
  font-size: 15px;
}

.top {
  color: white;
  text-align: right;
  width: 605px;
  padding-top: 10px;
  font-size: 14px;
}

h1 {
  color: #197bd2;
  font-family: impact;
  text-align: center;
  font-size: 150px;
  width: 650px;
  padding-top: 20px;
  padding-bottom: 390px;
}

.orange {
  color: #ffa500;
}

.small {
  font-size: 9px;
}

nav {
  padding: 15px;
}

a {
  font-weight: bold;
  color: #197bd2;
  text-decoration: none;
}

a:hover {
  color: #ffa500;
  text-decoration: underline;
}
